boto3~=1.28
botocore~=1.31
cachetools~=5.5
certifi~=2025.4
charset-normalizer~=3.4
google-auth~=2.13
idna~=3.7
kubernetes~=32.0
oauthlib~=3.2
pyasn1~=0.4
pyasn1-modules~=0.2
python-dateutil~=2.8
PyYAML~=6.0
requests~=2.32
requests-oauthlib~=2.0
rsa~=4.9
six~=1.16
urllib3~=2.5
websocket-client~=1.3
ply~=3.11
tornado~=6.4
