apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    {{- include "axosyslog.labels" . | nindent 4 }}
  name: {{ include "axosyslog.fullname" . }}-collector
data:
{{- if .Values.collector.config.raw }}
  syslog-ng.conf: {{ tpl (toYaml .Values.collector.config.raw) . | indent 4 }}
{{- else }}
  syslog-ng.conf: |
    @version: {{ regexFind "^[0-9]+\\.[0-9]+" .Chart.AppVersion | default "current" }}
    @include "scl.conf"

    options {
      stats(
        level({{ .Values.collector.config.stats.level }})
      );
    };

{{- with .Values.collector.config.sources.kubernetes }}
{{- if .enabled }}
    source s_pod_logfiles {
      kubernetes(
  {{- if .prefix }}
        prefix({{ .prefix | quote }})
  {{- end }}
  {{- if .keyDelimiter }}
        key-delimiter({{ .keyDelimiter | quote }})
  {{- end }}
      ); 
    };
{{- end }}
{{- end }}


    log {
      source(s_pod_logfiles);
{{- with .Values.collector.config.rewrites.set }}
      rewrite {
{{- range $k, $v := . }}
        set({{ $v | quote }} value({{ $k | quote }}));
{{- end }}
      };
{{- end }}
{{- with .Values.collector.config.destinations.syslog }}
  {{- if .enabled }}
      destination {
        network(
          {{ .address | quote }}
          port({{ .port }})
          transport({{ .transport }})
    {{- if .template }}
          template({{ .template | quote }})
    {{- end }}
    {{- if .extraOptionsRaw }}
          {{ .extraOptionsRaw }}
    {{- end }}
        );
      };
  {{- end }}
{{- end }}
{{- with .Values.collector.config.destinations.opensearch }}
  {{- if .enabled }}
      destination {
        elasticsearch-http(
          url("https://{{ .address }}:9200/_bulk")
          index({{ .index | quote }})
          type("")
    {{- if .template }}
          template({{ .template | quote }})
    {{- end }}
    {{- if .user }}
          user({{ .user | quote }})
    {{- end }}
    {{- if .password }}
          password({{ .password | quote }})
    {{- end }}
    {{- if .tls }}
          tls(
      {{- if .tls.CAFile }}
            ca-file({{ .tls.CAFile }})
      {{- end }}
      {{- if .tls.CADir }}
            ca-dir({{ .tls.CADir }})
      {{- end }}
      {{- if .tls.Cert }}
            cert-file({{ .tls.Cert }})
      {{- end }}
      {{- if .tls.Key }}
            key-file({{ .tls.Key }})
      {{- end }}
      {{- if .tls.peerVerify }}
            peer-verify(yes)
      {{- else }}
            peer-verify(no)
      {{- end }}
          )
    {{- end }}
    {{- if .extraOptionsRaw }}
          {{ .extraOptionsRaw }}
    {{- end }}
        );
      };
    {{- end }}
{{- end }}
{{- with .Values.collector.config.destinations.syslogNgOtlp }}
  {{- if .enabled }}
      destination {
        syslog-ng-otlp (
          url({{ tpl .url $ | quote }})
    {{- if .extraOptionsRaw }}
          {{ .extraOptionsRaw }}
    {{- end }}
        );
      };
  {{- end }}
{{- end }}
      flags(flow-control);
    };
{{- end }}
