name: AxoSyslog Docker image builder

permissions: write-all

on:
  workflow_call:
    inputs:
      type:
        required: true
        type: string  # stable / snapshot
      platforms:
        required: false
        type: string
        default: linux/amd64,linux/arm64,linux/arm/v7
      snapshot-tarball-artifact:
        required: false
        type: string
      snapshot-version:
        required: false
        type: string
      snapshot-tags: # comma-separated
        required: false
        type: string

env:
  DEBUG_PLATFORM: linux/amd64

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      platform-matrix: ${{ steps.platforms.outputs.platform-matrix }}
      image-name: ${{ steps.registry.outputs.image-name }}
    steps:
      - id: platforms
        name: platform
        env:
          PLATFORMS: ${{ inputs.platforms }}
        run: |
          PLATFORM_MATRIX="$(echo "$PLATFORMS" | jq 'split(",")' -Rc)"
          echo "platform-matrix=$PLATFORM_MATRIX" >> $GITHUB_OUTPUT
      - id: registry
        name: registry
        run: |
          IMAGE_NAME="ghcr.io/${{ github.repository_owner }}/axosyslog"
          IMAGE_NAME="$(echo "$IMAGE_NAME" | tr '[:upper:]' '[:lower:]')"
          echo "image-name=$IMAGE_NAME" >> $GITHUB_OUTPUT


  image-build:
    if: github.repository_owner == 'axoflow' || github.event_name != 'schedule'
    runs-on: ${{ matrix.platform == 'linux/arm64' && 'linux-arm64' || 'ubuntu-latest' }}
    needs: prepare

    strategy:
      fail-fast: false
      matrix:
        platform: ${{ fromJSON(needs.prepare.outputs.platform-matrix) }}

    steps:
      - name: Prepare
        env:
          PLATFORM: ${{ matrix.platform }}
          TYPE: ${{ inputs.type }}
        run: |
          [ "$TYPE" = "stable" ] || [ "$TYPE" = "snapshot" ]
          echo "PLATFORM_PAIR=${PLATFORM//\//-}" >> $GITHUB_ENV

          # TODO: remove this block once the arm64 runner is available for open-source and has docker pre-installed
          if [ "${{ matrix.platform }}" = "linux/arm64" ]; then
            sudo install -m 0755 -d /etc/apt/keyrings
            sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
            echo \
            "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu \
            $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | \
            sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
            sudo apt-get update && sudo apt-get install -y acl docker-ce docker-ce-cli containerd.io docker-buildx-plugin
            USERID=$(id -u)
            sudo setfacl --modify user:${USERID}:rw /var/run/docker.sock
          fi

      - name: Checkout source
        uses: actions/checkout@v4

      - name: Download source tarball artifact
        if: inputs.snapshot-tarball-artifact != ''
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.snapshot-tarball-artifact }}
          path: docker/apkbuild/axoflow/axosyslog

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (AxoSyslog version) for Docker
        id: docker-metadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ needs.prepare.outputs.image-name }}

      - name: Build and push production Docker image
        id: build
        uses: docker/build-push-action@v5
        with:
          context: docker
          file: docker/alpine.dockerfile
          platforms: ${{ matrix.platform }}
          labels: ${{ steps.docker-metadata.outputs.labels }}
          outputs: type=image,name=${{ needs.prepare.outputs.image-name }},push-by-digest=true,name-canonical=true,push=true,annotation-index.org.opencontainers.image.description=${{ fromJSON(steps.docker-metadata.outputs.json).labels['org.opencontainers.image.description'] }}
          build-args: |
            PKG_TYPE=${{ inputs.type }}
            SNAPSHOT_VERSION=${{ inputs.snapshot-version }}

      - name: Export digest
        env:
          DIGEST: ${{ steps.build.outputs.digest }}
        run: |
          mkdir -p /tmp/digests
          touch "/tmp/digests/${DIGEST#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ env.PLATFORM_PAIR }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  merge-and-push:
    runs-on: ubuntu-latest
    needs: [prepare, image-build]
    outputs:
      tags: ${{ steps.docker-metadata-tags.outputs.tags }}
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: /tmp/digests
          pattern: digests-*
          merge-multiple: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: "Query previous container image version"
        uses: actions/github-script@v7
        with:
          script: |
            const versionPattern = /^[0-9]+\.[0-9]+\.[0-9]+-[0-9]+$/;
            const package_name = "axosyslog", org = "axoflow";
            const allPackageVersions = await github.paginate(
                github.rest.packages.getAllPackageVersionsForPackageOwnedByOrg,
                { package_type: "container", package_name, org }
            );

            const latest = allPackageVersions.find(p =>
                p.metadata.container?.tags.includes("latest")
            );
            const { data: { metadata: { container: { tags } } } } =
                await github.rest.packages.getPackageVersionForOrganization({
                    package_type: "container", package_name, org, package_version_id: latest.id
                });

            previousDockerTag = tags.find(t => versionPattern.test(t));
            core.exportVariable('previous_docker_tag', previousDockerTag);

      - name: Extract metadata (AxoSyslog version) for Docker
        id: docker-metadata-tags
        run: |
          previous_docker_tag_short=$(echo $previous_docker_tag | cut -d"-" -f1)
          previous_docker_tag_rebuild_num=$(echo $previous_docker_tag | cut -d"-" -f2)
          current_git_tag=$(echo ${{ github.ref }} | cut -d"-" -f2)
          if [[ $current_git_tag =~ ^[0-9]+.[0-9]+.[0-9]+$ ]]; then
            function version { echo "$@" | awk -F. '{ printf("%d%03d%03d\n", $1,$2,$3); }'; }
            if [ $(version $current_git_tag) -gt $(version $previous_docker_tag_short) ]; then
                next_docker_tag_with_patch=$current_git_tag-1
                next_docker_tag=$current_git_tag
                echo "New AxoSyslog release detected (new version: $next_docker_tag_with_patch, previous docker version: $previous_docker_tag)"
            elif [ $(version $current_git_tag) -eq $(version $previous_docker_tag_short) ]; then
                next_docker_tag_patch=$((previous_docker_tag_rebuild_num+1))
                next_docker_tag_with_patch=$previous_docker_tag_short-$next_docker_tag_patch
                next_docker_tag=$previous_docker_tag_short
                echo "AxoSyslog image rebuild detected (new version: $next_docker_tag_with_patch, previous docker version: $previous_docker_tag)"
            else
                echo "Given git tag version is less than previous docker tag version: $current_git_tag < $previous_docker_tag_short"
                echo "Rebuilding an older AxoSyslog version is not allowed. Please provide a valid git tag version."
                exit 1
            fi
            TAGS="ghcr.io/axoflow/axosyslog:$next_docker_tag,ghcr.io/axoflow/axosyslog:$next_docker_tag_with_patch,ghcr.io/axoflow/axosyslog:latest"
            echo "tags=$TAGS" >> $GITHUB_OUTPUT
          fi

      - name: Compose Docker image tags
        id: tags
        env:
          TYPE: ${{ inputs.type }}
          SNAPSHOT_TAGS: ${{ inputs.snapshot-tags }}
          IMAGE_NAME: ${{ needs.prepare.outputs.image-name }}
        run: |
          if [[ "$TYPE" = "stable" ]]; then
            TAGS='${{ steps.docker-metadata-tags.outputs.tags }}'
          elif [[ "$TYPE" = "snapshot" ]]; then
            TAGS="$(echo "$SNAPSHOT_TAGS" | sed "s|[^,]*|$IMAGE_NAME:&|g")"
          else
            echo "Unexpected input: type=$TYPE"
            false
          fi

          echo "TAGS=$TAGS" >> $GITHUB_OUTPUT
          echo "DEBUG_TAGS=${TAGS//,/-dbg,}-dbg" >> $GITHUB_OUTPUT

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create manifest list and push
        working-directory: /tmp/digests
        env:
          TAGS: ${{ steps.tags.outputs.TAGS }}
          IMAGE_NAME: ${{ needs.prepare.outputs.image-name }}
        run: |
          TAG_FLAGS="$(echo "$TAGS" | sed "s|[^,]*|-t &|g" | tr ',' ' ')"
          docker buildx imagetools create $TAG_FLAGS $(printf "$IMAGE_NAME@sha256:%s " *)

      - name: Checkout source
        uses: actions/checkout@v4

      - name: Download source tarball artifact
        if: inputs.snapshot-tarball-artifact != ''
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.snapshot-tarball-artifact }}
          path: docker/apkbuild/axoflow/axosyslog

      - name: Build and push debug Docker image
        uses: docker/build-push-action@v5
        with:
          context: docker
          file: docker/alpine.dockerfile
          platforms: ${{ env.DEBUG_PLATFORM }}
          push: true
          tags: ${{ steps.tags.outputs.DEBUG_TAGS }}
          build-args: |
            PKG_TYPE=${{ inputs.type }}
            SNAPSHOT_VERSION=${{ inputs.snapshot-version }}
            DEBUG=true
