name: Upload package to R2/incoming


on:
  workflow_call:
    inputs:
      pkg-type:
        required: true
        type: string  # stable / nightly
      distros:
        required: false
        type: string
        default: >
          [
            {"type": "deb", "name": "debian-testing"},
            {"type": "deb", "name": "debian-sid"},
            {"type": "deb", "name": "debian-bullseye"},
            {"type": "deb", "name": "debian-bookworm"},
            {"type": "deb", "name": "debian-trixie"},
            {"type": "deb", "name": "ubuntu-focal"},
            {"type": "deb", "name": "ubuntu-jammy"},
            {"type": "deb", "name": "ubuntu-noble"},
            {"type": "deb", "name": "ubuntu-plucky"},
            {"type": "deb", "name": "ubuntu-questing"},

            {"type": "rpm", "name": "almalinux-8"},
            {"type": "rpm", "name": "almalinux-9"},
            {"type": "rpm", "name": "fedora-41"},
            {"type": "rpm", "name": "fedora-42"}
          ]
    secrets:
      r2-access-key:
        required: true
      r2-secret-key:
        required: true
      r2-account-id:
        required: true


jobs:
  upload-packages:
    name: ${{ matrix.distro.name }} (${{ matrix.distro.type }})

    runs-on: ubuntu-latest

    if: github.repository_owner == 'axoflow'

    strategy:
      matrix:
        distro: ${{ fromJson(inputs.distros) }}
      fail-fast: false

    steps:
      - name: Download package artifact
        uses: actions/download-artifact@v4
        with:
          name: package-${{ matrix.distro.name }}
          path: package

      - name: Upload packages to R2 incoming
        working-directory: package
        run: |
          export AWS_ACCESS_KEY_ID='${{ secrets.r2-access-key }}'
          export AWS_SECRET_ACCESS_KEY='${{ secrets.r2-secret-key }}'
          export AWS_DEFAULT_REGION='auto'
          export AWS_REQUEST_CHECKSUM_CALCULATION=WHEN_REQUIRED
          export AWS_RESPONSE_CHECKSUM_VALIDATION=WHEN_REQUIRED
          find * -type f | xargs -I {} \
            aws s3api put-object \
              --endpoint-url https://${{ secrets.r2-account-id }}.r2.cloudflarestorage.com \
              --bucket axoflow-packages-build \
              --key ${{ inputs.pkg-type }}/${{ github.run_id }}/${{ matrix.distro.type }}/{} \
              --body {}
